.home {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 241, 241);
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}